{% extends "shop/cart/editable.html" %}
{% load i18n %}

{% block shop-cart-item %}
	<td>
		<div class="form-group">
			<input type="number" class="form-control" ng-model="cart_item.quantity" ng-model-options="{{ EDITCART_NG_MODEL_OPTIONS }}" ng-change="updateCartItem(cart_item)" />
		</div>
		<small class="text-nowrap">{% trans "Product Code" %}:</small>
		<strong ng-bind="cart_item.product_code"></strong>
	</td>
	<td ng-bind-html="cart_item.summary.media">
		{# rendered by ProductSerializer using template "(myshop|shop)/products/cart-<product_model>-media.html" #}
	</td>
	<td class="text-right text-nowrap">
		<p ng-bind="cart_item.unit_price"></p>
		<div ng-repeat="extra_row in cart_item.extra_rows" ng-bind="extra_row.label"></div>
	</td>
	<td class="text-right text-nowrap">
		<p ng-bind="cart_item.line_total"></p>
		<div ng-repeat="extra_row in cart_item.extra_rows" ng-bind="extra_row.amount"></div>
	</td>
	<td>
		{% block shop-cart-item-controls %}{{ block.super }}{% endblock %}
	</td>
{% endblock shop-cart-item %}
