[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "<2"
djangocms-cascade = "*"
django_compressor = "*"
django-allauth = "*"
django-sass-processor = "*"
django-filter = "*"
django-haystack = "*"
drf-haystack = "*"
django-parler = "*"
djangorestframework = "<3.9"
django_polymorphic = "<2"
django-admin-sortable2 = "*"
djangocms-bootstrap = ">=1"
elasticsearch = "<1.8"
libsass = "*"
"8a232e5" = {file = "https://github.com/jrief/django-post_office/archive/attachments-allowing-MIMEBase.zip"}
"847cb9d" = {file = "https://github.com/awesto/djangoshop-stripe/archive/releases/1.0.x.zip"}
"12d3451" = {file = "https://github.com/awesto/django-shop/archive/releases/1.0.x.zip"}
"f8f74e0" = {file = "https://github.com/awesto/djangoshop-sendcloud/archive/releases/1.0.zip"}

[dev-packages]
tox = "*"
pytest = "*"
pytest-django = "*"
beautifulsoup4 = "*"
lxml = "*"
factory_boy = "*"
pytest-factoryboy = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
