@import "variables";
@import "shop/css/navbar";

body {
	padding-top: 90px;

	nav.navbar {
		h1 {
			line-height: 66px;
		}
		.shop-social-icon {
			.nav-link {
				padding: 0.5rem 1rem 0 0.5rem;
			}
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
		.shop-primary-menu {
			@include media-breakpoint-down(md) {
				order: 1;
			}
			@include media-breakpoint-up(lg) {
				font-size: 1.3rem;
				font-weight: 300;
			}
		}
		.shop-secondary-menu {
			@include media-breakpoint-down(md) {
				order: 2;
			}
		}
	}
}
